.cardwrapper{
    padding: 20px;
    /* background-color: var(--test-color); */
    width: 344px;
    height: 230px;
    border-radius: 12px;
    /* object-fit: cover; */
}

.movieimg{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: fill; 
  cursor: pointer;
}

.movieimg:hover{
  
}
.moviename{
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  color: hotpink
}