.cardwrapper{
    padding: 10px;
    /* background-color: var(--test-color, yellow); */
    width: 344px;
    height: 230px;
    border-radius: 12px;
    position: relative;
    transition: transform 250ms, opacity 400ms;
}

.likeheart{
  position: absolute;
  right: 50px;
  top: 20px;
}

.likescount{
  color: var(--color-white);
  position: absolute;
  right: 16px;
  top: 16px;
}

.newreleaselabel{
  width: auto;
  background-color: var(--color-yellow);
  position: absolute;
  top: 9px;
  left: 10px;
  padding: 5px 10px 5px 15px;
  border-radius: 9px;
  font-size: 12px;
  font-weight: bolder;
  border-top-left-radius: unset;
  border-bottom-left-radius: unset;
  box-shadow: 0 1px 2px #00000059  
}

.cardwrapper:hover .bookingstuff{
  position: absolute;
  /* transform: scale(0.8);
  transform-origin: top center;
  will-change: transform; */
  /* transition: transform 500ms; */
}

.bookingstuff{
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 2px;
  padding: 15px 12px;
}

.movieimg{
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  cursor: pointer;
}

.movieimg:hover{
  transform: scale(1.0);
  transition: all .3s ease-in;
}

.cardwrapper:hover .movieimg{
  transform: scale(1.1);
  transition: transform 350ms;
}
.moviename{
  font-weight: bolder;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  position: absolute;
  left: 18px;
  top: 50%;
  text-shadow: 0 3px 7px rgba(0,0,0,.8);
  transition: all .3s ease-out;
  color: var(--color-white)
}

.bookmarkmovie{
  position: relative;
  top: -10px;
  bottom: 0;
}




.moviehover:hover{

  /* position: relative;
  transform: scale(0.8);
  transform-origin: top center;
  will-change: transform;
  transition: transform 500ms; */
}