@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";


/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  scrollbar-gutter: stable;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}




html {
    overflow-y: scroll;
    --color-top-color: hsl(0deg 0% 10.98%);
    --color-gray-300: hsl(0deg 0% 28.63%);
    --color-gray-900: hsl(0deg 0% 90%);
    --color-blue-400: hsl(197.55deg 76.42% 51.76%);
    --color-yellow:  hsl(46.45deg 100% 57.45%);
    --color-white: white;
    --test-color: hotpink;
   
}

body {
    font-family: 'Mulish', sans-serif;
    /* background-color: var(--color-backdrop); */
    background-color: #080808;
}
  
input:-moz-placeholder{
    color: red;
}

.header{
    background-color: var(--color-top-color);
    color: var(--color-gray-900);
    height: 100px;
}

.jbutton {
    position: relative;
    z-index: 2;
    background: transparent;
    border-radius: 1px;
    padding: 8px 32px;
    border: none;
    outline: 2px solid hsl(50deg 0% 50% / 1);
    font-weight: bold;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.yellow.ball{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: hsl(50deg 100% 50%);
    background: oklch(0.9 0.25 100 / 1);
}

.wrapper {
    width: 180px;
    height: 180px;
    background: hsl(161,98deg 100% 50%);
    background: oklch(0.86 0.25 162.3);
    color: black;
    padding: 16px;
    font-size: 1.5rem;
    will-change: true;
}

.wrapper.maximized {
    position: absolute;
    inset: 0;
    width: revert;
    height: revert;
}